.container.quest{

    background-color: transparent;
    height: 75vh;
    width: 45%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 220px 30px;
    
}

/*::-webkit-calendar-picker-indicator {
    filter: invert(1);
}*/
