footer{

    background-color: var(--bg-footer);
    height: 130px;
    max-height: 130px;
    padding: 30px 0;
    width: 100vw;
    max-width: 100%;
    bottom: 0;
    
}

.content-footer{

    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

footer i,footer p {

    font-weight: 400;
    color: var(--footer-txt);

}

footer ul li a{

    font-weight: 400;
    font-size: 15px;
    color: var(--footer-txt);

}

footer #navFooter{

    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;

}


footer nav ul{

    margin: 0 auto;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.sociais{

    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.sociais i{

    margin-right: 0px;
    font-size: 35px;

}

.company{

    display: flex;
    justify-content: center;
    
}

.company p{

    margin: 0;
    font-size: 15px;
    font-style: italic;

}

@media (max-width: 460px){

    footer nav ul{

        gap: 1vh;
        flex-direction: column;

    }

    footer{

        padding: 15px 0

    }

    footer nav ul li a{

        font-size: 13px;

    }

}