header{

    width: 100%;
    height: 80px;
    transition: 0.7s;
    position: fixed;
    z-index: 100000;
    
}

header.shadow{

    transition: 0.7s;
    background-color: rgb(235, 239, 255);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.397);
 

}

.container.header{

    height: 100%;
    width: 45%;
    justify-content: space-between;

}

header ul{
    
    max-width: 100%;
    max-height: 100%;
    list-style: none;
    display: flex;
    margin-top: 0;
    align-content: center;
    align-items: center;
}

ul#ulpai p{

    margin-top: 40px;
    margin-left: 250px;

    

}

ul#ulfilha{

    display: flex;

}

ul#ulfilha li{

    margin-right: 100px;
    text-decoration: none;

}



header ul li{

    padding: 5px;
    border-radius: 3px;
    
}

header ul li a{

    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
    position: absolute;

}

header ul li a:hover{

   font-size: 18px;
   text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.144);
   transition: 0.25s;

}



#imp li  a{

    color: white;

}

#imp a{

    padding: 13px 16px;
    background-color: rgb(41, 91, 255);
    border-radius: 7px;
    margin-top: -13px;

}

#imp a:hover{

    transition: 0.25s;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.103);

}