*{

    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight:500;

}

body{

    background-color:rgba(225, 232, 255, 0.664);

}

ul, li, a, i, p, h1, h2, h3, nav, header{

    background-color: transparent;

}

.container{

    background-color: transparent;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}