<%- include('parts/page-head', { title : 'Destinos', linkCSS : 'css/destinos.css'}) %>
<script src="/script/card.js"></script>
<body>
    
   
    <%- include('parts/page-header') %>

    
<div class="container dest">

    <div class="content-dest">

        <div class="title-dest">
            <h2>Nossos Destinos</h2>
            <p class="sub one">Aqui nossos parceiros fazem as melhores viagens pra você</p>
        </div>
        
        
        <ul class="listaDest">

            <div class="navGuia"> 

                <p>Cidade/País</p>
                
                <p>Rating</p>
                <p>Categorias</p>
                <p>Site</p>

            </div>
        
            <div class="hr"></div>

            <li class="card copa">
                
                <div class="partTitleCard">
                <p>Copacabana</p>
                <img src="img/brzinho.jpg" alt="Brasil" title="Brasil">
                </div>
               <div class="img"> <img class="star" src="img/5stars.png" alt=""></div>
                <p class="categoria">Praias/Paisagens</p>
                <a href="" class="sub">Visite Aqui</a>
            </li>

            <div class="hr"></div>

            <li class="card prima">
                <div class="partTitleCard">
                <p>Primavera do Leste</p>
                 <img src="img/brzinho.jpg" alt="Brasil" title="Brasil">
                    </div>
                   <div class="img"> <img class="star" src="img/4stars.png" alt=""></div>
                
                <p class="categoria">Paisagens/Natureza</p>
                <a href="" class="sub">Visite Aqui</a>
            </li>

            <div class="hr"></div> 

            <li class="card ouro">
                <div class="partTitleCard">
                <p>Ouro Preto</p>
                    <img src="img/brzinho.jpg" alt="Brasil" title="Brasil">
                    </div>
                    <div class="img"> <img class="star" src="img/4stars.png" alt=""></div>
                
                <p class="categoria">Paisagens/Cultura/História</p>
                <a href="" class="sub">Visite Aqui</a>
            </li>

            <div class="hr"></div>

            <li class="card amaj">
                <div class="partTitleCard">
                <p>Amajari</p>
                    <img src="img/brzinho.jpg" alt="Brasil" title="Brasil">
                    </div>
                    <div class="img"> <img class="star" src="img/4stars.png" alt=""></div>
                
                <p class="categoria">Paisagens/Cultura/Arquitetura</p>
                <a href="" class="sub">Visite Aqui</a>
            </li>

            <div class="hr"></div>

            <li class="card inter">
                <div class="partTitleCard">
                <p>Interlaken</p>
                <img src="img/sczinho.jpg" alt="Suiça" title="Suiça"></div>
                <div class="img">  <img class="star" src="img/5stars.png" alt=""></div>
                <p class="categoria">Paisagens/Cultura/Arquitetura</p>
                <a href="" class="sub">Visite Aqui</a>
            </li>

            <div class="hr"></div>
            
            <li class="card salo">
                <div class="partTitleCard">
                <p>Ilhas Salomão</p>
               <img src="img/salmzinho.jpg" alt="Ilhas Salomão" title="Ilhas Salomão"> </div>
               
               <div class="img">   <img class="star" src="img/4stars.png" alt=""></div>
                <p class="categoria">Paisagens/Cultura</p>
                <a href="" class="sub">Visite Aqui</a>
            </li>

            <div class="hr"></div>

            <li class="card canc">
                <div class="partTitleCard">
                <p>Cancún</p>
                <img src="img/mxczinho.jpg" alt="México" title="México"></div>
                <div class="img"> <img class="star" src="img/5stars.png" alt=""></div>
                <p class="categoria">Paisagens/Cultura/Praias</p>
                <a href="" class="sub">Visite Aqui</a>
            </li>

            <div class="hr"></div>

            <li class="card roma">
                <div class="partTitleCard">
                <p>Roma</p>
                <img src="img/italiazinho.jpg" alt="Itália" title="Itália"></div>
                <div class="img"> <img class="star" src="img/5stars.png" alt=""></div>
                <p class="categoria">Cultura/Arquitetura/História</p>
                <a href="" class="sub">Visite Aqui</a>
            </li>

        </ul>

        
    </div>

</div>


<%- include('parts/footer') %>
</body>
</html>