<%- include('parts/page-head', { title : 'Destinos', linkCSS : 'css/destinos.css'}) %>
<script src="/script/card.js"></script>
<body>
    
   
    <%- include('parts/page-header') %>

    
<div class="container dest">

    <div class="content-dest">

        <div class="title-dest">
            <h2>Nossos Destinos</h2>
            <p class="sub one">Aqui nossos parceiros fazem as melhores viagens pra você</p>
        </div>
        
        
        <ul class="listaDest">
        
            <li class="card rj">
                
                <p>Rio de janeiro</p>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Praias/Paisagens</p>
                <a href="">Visite Aqui</a>
            </li>

            <li class="card sp">
                
                <p>São Paulo</p>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Arquitetura/Paisagens/Cultura</p>
                <a href="">Visite Aqui</a>
            </li>

            <li class="card al">
                
                <p>Alagoas</p>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Paisagens/Cultura/Praias</p>
                <a href="">Visite Aqui</a>
            </li>

            <li class="card paris">
                
                <p>Paris</p>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Paisagens/Cultura/Arquitetura</p>
                <a href="">Visite Aqui</a>
            </li>

            <li class="card suica">
                
                <p>Suiça</p>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Paisagens/Cultura/Arquitetura</p>
                <a href="">Visite Aqui</a>
            </li>

            <li class="card japao">
                
                <p>Japão</p>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Paisagens/Cultura/Arquitetura</p>
                <a href="">Visite Aqui</a>
            </li>

        </ul>

        
    </div>

</div>


<%- include('parts/footer') %>
</body>
</html>