<%- include('parts/page-head', { title : 'Flyplane', linkCSS : 'css/home.css', linkCSS2 : '', linkCSS3 : ''}) %>

<body>
    
    <!--Header-->

    <!--no title vai uma variável string que sera mostrada diferente para cada pagina-->
    <%- include('parts/page-header', { }) %>

    <!--Header-->
<div class="container home">
    <div class="content-home">
    <div id="title-home"><h2> Bem-Vindo a </h2><h2 class="fly-esp">i</h2><h2 class="fly-txt">Flyplane</h2></div>
    <p>Destinos perfeitos para gostos diferentes</p>
</div>
</div>

</body>
</html>