<%- include('parts/page-head', { title : 'Flyplane', linkCSS : 'css/home.css', linkCSS2 : '', linkCSS3 : ''}) %>
<script src="/script/card.js"></script>
<body>
    
    <!--Header-->

    <!--no title vai uma variável string que sera mostrada diferente para cada pagina-->
    <%- include('parts/page-header', { }) %>

    <!--Header-->
    <div class="container home">

        <div class="content-home">

        <div id="title-home">
            <h2> Bem-Vindo a Flyplane</h2>
        </div>

        <p class="sub">Destinos perfeitos para gostos diferentes</p>

        <div class="destinos">
           

            <nav class="carrousel">

                <div class="card" id="card-card">
                    
                    <div class="cont-card hide" id="cont-card-cc">
                        <p>Japão - Colinas de Hashi</p>
                            <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            </div>
                            <p class="desc hide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, quibusdam error 
                                            inventore quidem nulla non quas dicta expedita in iste fugit repellendus. 
                                            Aspernatur aut placeat, architecto quasi dolorum facilis temporibus!</p>
                    </div>
            </div>

            </nav>

        </div>



    </div>
    </div>

</body>
</html>