<%- include('parts/page-head', { title : 'Flyplane', linkCSS : 'css/home.css', linkCSS2 : '', linkCSS3 : ''}) %>
<script src="/script/card.js"></script>

<body>
    
    <!--Header-->

    <!--no title vai uma variável string que sera mostrada diferente para cada pagina-->
    <%- include('parts/page-header', { }) %>

    <!--Header-->
    <div class="container home">

        <div class="content-home">

        <div id="title-home">
            <h2 class="animate__animated animate__fadeInDown"> Bem-Vindo a Flyplane</h2>
        </div>

        <p class="sub one">Destinos perfeitos para gostos diferentes</p>

        <div class="destinos">
           

            <nav class="carrousel">
                <p class="sub esp">-- Recomendados --</p>

                <nav class="nav-cards">
                <div class="card end suica" >
                    <div class="click"></div>
                    <div class="cont-card suica hide" >
                        <p>Suiça - Alpes</p>
                            <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            </div>
                            <p class="desc suica hide">A Suíça é um país montanhoso da Europa Central 
                                com um grande número de lagos, 
                                vilas e picos elevados dos Alpes. Suas cidades têm bairros medievais e 
                                monumentos como a torre do relógio</p>
                    </div>
                    
                </div>

                <div class="card jp" >
                    <div class="click"></div> 
                    <div class="cont-card hide jp " >
                        <p>Japão - Monte Fuji</p>
                            <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            </div>
                            <p class="desc jp hide">O monte Fuji é a mais alta montanha da 
                                ilha de Honshu e de todo o arquipélago japonês. É um vulcão ativo, 
                                porém de baixo risco de erupção. O monte Fuji localiza-se a oeste de 
                                Tóquio próximo da costa do oceano Pacífico da ilha de Honshu</p>
                    </div>
                    
                </div>

                <div class="card end rj" >
                    <div class="click"></div>
                    <div class="cont-card rj hide">
                        <p>Rio de Janeiro - Copacabana</p>
                            <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            </div>
                            <p class="desc rj hide">Famosa pela praia em forma de meia-lua, Copacabana é um dos bairros mais animados do Rio. 
                                Atraindo moradores e turistas para atividades nas suas areias e no calçadão desenhado
                    
                                </p>
                    </div>
                    
                </div>
                </nav>

                <p class="sub footer">Ver todos os <a href="/destinos">Destinos <i class="fas fa-arrow-right"></i></a></p>

            </nav>

        </div>

        <div class="sobreHome">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                elit. Modi, ad harum, tenetur dolorem libero hic 
                laboriosam eius deserunt sed ipsam earum. A reprehenderit nesciunt ipsum fuga 
                consequuntur obcaecati, repellat fugit.</p>
            <div class="imgSobre"><img src="img/sobre1.png" alt=""></div>

        </div>



    </div>
    </div>

</body>
</html>