<%- include('parts/page-head', { title : 'Sobre Nós', linkCSS : 'css/sobre.css', linkCSS2 : '', linkCSS3 : ''}) %>

<body>
    
    <!--Header-->

    <!--no title vai uma variável string que sera mostrada diferente para cada pagina-->
    <%- include('parts/page-header', { }) %>

    <!--Header-->

    <div class="container-sobre">

        <div class="content-sobre">
            <h2>Sobre Nós</h2>
            <p>Nosso site possui um histórico de avalições positivas nunca vistos no mercado nacional, 
                com mais de 30 anos de experiência e funcionários habitados para 
                exercer tais funções e manter nosso site no auge </p>

               <p> Nosso negócio é voltado para a prestação de serviços. Os nossos serviços são a organização de viagens e passeios. </p>

                <p> A nossa missão com esse site é levar o melhor para nossos clientes, os melhores passeios, 
                os melhores preços e a melhor qualidade de atendimento e execução dos passeios e 
                viagens para ser os dias mais especiais e marcantes da vida de nossos clientes.


            
            </p>
        </div>

    </div>

</body>
</html>
