<footer>

    <div class="content-footer">

        <div class="sociais">
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.github.com" target="_blank"><i class="fab fa-github"></i></a>
            <a  href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
        </div>

        <nav id="navFooter">
            <ul>
                <li><a href="/contato">Viagem</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/suporte">Suporte</a></li>
                <li><a href="/destinos">Destinos</a></li>
            </ul>
        </nav>

        <div class="company"><p>Flyplane © 2021</p></div>

    </div>

    <script src="script/darkMode.js"></script>
    <script src="script/darkMode.js"></script>

</footer>