<%- include('./page-head', { title : '', linkCSS : '/css/page-header.css', linkCSS2 : '', linkCSS3 : ''}) %>

<body>

    <header class="">

            <nav class="container header">

                <ul id="ulpai">

                    <li><a href="/">  Home <i class=" fas fa-plane"> </i> </a></li>
                    

                </ul>

                <ul id="ulfilha">

                    <li><a href="/destinos"> Destinos </a></li>
                    <li><a href="/sobre"> Sobre </a></li>
                    <li id="imp"><a href="/viagem"> Viagem </a></li>
                        
                </ul>
                
            </nav>

    </header>


</body>
</html>