<%- include('./page-head', { title : '', linkCSS : '/css/page-header.css', linkCSS2 : '', linkCSS3 : ''}) %>

<body>

    <header class="">

            <nav class="container header">

                <ul id="ulpai">

                    <li><a href="/"> <i class="fas fa-plane"> </i> </a></li>
                    <p>Nicolas Viana Nº27 & Paloma Vilvert Nº29</p>

                </ul>

                <ul id="ulfilha">

                    <li><a href="/contato"> Viagem </a></li>
                    <li><a href="/sobre"> Sobre </a></li>
                    <div id="imp"><li><a href="/destinos"> Destinos </a></li></div>
                        
                </ul>
                
            </nav>

    </header>


</body>
</html>