


    <header class="">

            <nav class="container header">

                <ul id="ulpai">

                    <li><a href="/">  <div id="imgFly"class="img"></div> </a></li>
                    

                </ul>
                <%if(valida == 1 || valida == 2 || valida == 3){%>

                    <div class="logado">
                <img src="img/user.png" alt="" title="Logado">
                <p class="emailPerfil"><%= emailPerfil %></p>
</div>
                <%}%>

                <ul id="ulfilha">

                    <li><a href="/destinos"> Destinos </a></li>
                    <li><a href="/sobre"> Sobre </a></li>
                    <li id="imp"><a href="/viagem"> Viagem </a></li>
                        
                </ul>
                <div class="toggle">
                <p>darkmode</p>
                <input id="switch" type="checkbox" name="theme">
                <label class="sw" for="switch">Toggle</label>
        </div>
            </nav>

            

    </header>

