<%- include('../parts/page-head', { title : 'Login ADM', linkCSS : '../css/login-adm.css', linkCSS2 : '../css/page-head.css', linkCSS3 : '../css/normalize.css'}) %>
<body>
    <%- include('../parts/page-header') %>

   <a>ADM</a>

        <br/>

</body>
</html>   