<%- include('../parts/page-head', { title : 'Login ADM', linkCSS : '../css/login-adm.css', linkCSS2 : '../css/page-head.css', linkCSS3 : '../css/normalize.css'}) %>

<body>

    <%- include('../parts/page-header') %>

    <div class="container-login">

        <div id="local-login">

            <div id="box-login">
                
                <div id="title-login"><a >Login ADM </a><i class="fas fa-user"></i></div>

                <form id="login-form" action="/admin/home" method="POST">

                    <ul id="login">
                    
                        <div id="flex-login">
                        <div id="user-flex-login"><li>
                            <label for="user">User</label></li>
                        <li><label for="senha">Senha</label></li></div>
                        <div id="input-flex-login"><li><input id="user" type="text" alt="User" placeholder="Digite o user"></li>
                        <li><input id="senha" type="password" alt="Senha" placeholder="Digite o password"></li></div>
</div>
                    </ul>  

                </form>

                <button id="sub-login" form="login-form" type="submit">Confirmar</button>

            </div>

        </div>
    </div>
    
</body>

</html>   